<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @produto.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produto.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @produto.value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @produto.active %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
